<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../static/css/base.css" type="text/css">
    <title>{%block title%}Pachinko{%endblock%}</title>
  </head>
  <body>
    <div class="main">
      <h1>{%block page_header%}Home{%endblock%}</h1>
      <div class="navigation">
        <ul>
          <li><a href="/home"><button>Home</button></a></li>
          <li><a href="/analysis"><button>Analysis</button></a></li>
          <li><a href="/set-crawler"><button>Set Crawler</button></a></li>
          <li><a href="/update"><button>Update Hall or Machine Numbers</button></a></li>
          <li><a href="/logout"><button>LOGOUT</button></a></li>
        </ul>
      </div>
      <div class="content">
        {%block content%}{%endblock%}
      </div>
    </div>
  </body>
</html>