.category ul {
    margin: 16px;
    clear: both;
    float: left;
    font-size: 16px;
    height: 30px;
    padding: 0;
    position: relative;
    line-height: 30px;
    list-style: none outside none;
}

.category ul li {
    color: white;
    display: block;
    float: left;
    font-size: small;
    margin: 0 4px;
    background-color: #003f6f; 
    width: 213px;
    height: 30px;
    padding: 0 4px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.category ul li a{
    color: white;
    text-decoration: none;
    width: 209px;
    padding: 0px;
    display: block;
}

.category button {
    width: 209px;
    padding: 0px;
    background-color: inherit;
    color: white;
    border: none;
}

div#date {
    margin-top: 10px;
    text-align: center;
    color: black;
}

table#graphs {
    color: black;
    margin: 20px auto;
    width: 90%;
}
ul#hallcode, ul#machinetype, ul#machinenumber{
    margin-left: -8px;
    margin-top: 0px;
    display: none;
    z-index: 100;
}

ul#hallcode li, ul#machinetype li, ul#machinenumber li{
    cursor: pointer;
}

div#spincountday, div#winspincountday, div#closingspincountday,
div#singlewinsspincountday,div#renchanday, div#totalwinsday {
    width: 90%; 
    height: 342px;
    margin: 10px auto;
}